body {
}

.jumbotron {
    background-image: url('../Assets/F5CE4RRRRY.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -10px;
    height: 700px;
}

    .jumbotron h1 {
        text-align: center;
        margin-top: 122px;
        color: whitesmoke;
        font-size: 75px;
        font-weight: 500;
    }

    .jumbotron p {
        text-align: center;
        color: whitesmoke;
    }
h1
{
    text-align:center;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* STYLES GO HERE */
    .jumbotron {
        background-image: url('../Assets/F5CE4RRRRY.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* STYLES GO HERE */
    .jumbotron {
        background-image: url('../Assets/F5CE4RRRRY.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* STYLES GO HERE */
    .jumbotron {
        background-image: url('../Assets/F5CE4RRRRY.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* STYLES GO HERE */
    .jumbotron {
        background-image: url('../Assets/F5CE4RRRRY.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* STYLES GO HERE */
    .jumbotron {
        background-image: url('../Assets/F5CE4RRRRY.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* STYLES GO HERE */
    .jumbotron {
        background-image: url('../Assets/F5CE4RRRRY.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    .jumbotron {
        background-image: url('../Assets/F5CE4RRRRY.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    /* STYLES GO HERE */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* STYLES GO HERE */
    .jumbotron {
        background-image: url('../Assets/F5CE4RRRRY.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}

/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    /* STYLES GO HERE */
    .jumbotron {
        background-image: url('../Assets/F5CE4RRRRY.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}

/* iPhone 5 (landscape)----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
    /* STYLES GO HERE */
    .jumbotron {
        background-image: url('../Assets/F5CE4RRRRY.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}

/* iPhone 5 (portrait)----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
    /* STYLES GO HERE */
    .jumbotron {
        background-image: url('../Assets/F5CE4RRRRY.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}
